/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.grey-message-box {
    -fx-background-color: #DDDDDD;
}

.popup-background {
	-fx-background-color:white;
	-fx-border-color: grey;
	-fx-border-width:1;
}

.plus-button {
	-fx-background-color: #99DD99;
	-fx-padding: -2,0,0,0;
	-fx-pref-width: 20;
	-fx-pref-height: 20;
}

.minus-button {
	-fx-background-color:
	        #DD9999,
            linear-gradient(#CC8888, #EEAAAA);
	-fx-padding: -2,0,0,0;
	-fx-pref-width: 20;
	-fx-pref-height: 20;
}

.glow-on-hover {
	-fx-effect: none;
}

.glow-on-hover:hover {
	-fx-effect: dropshadow( three-pass-box , darkgray, 10, 0.0, 0, 0 );
}

/* Used for headers of the main window columns. */
.column-header {
	-fx-border-radius: 0;
    -fx-border-color: #888888;
    -fx-background-color: #CCCCCC;
    -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.6), 10, 0.0, 0, 2);
}
